@font-face {
  font-family: "themify";
  src:
    url("../vendors/themify-icons/fonts/themify.woff") format("woff"),
    url("../vendors/themify-icons/fonts/themify.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

[class^="ti-"],
[class*=" ti-"] {
  font-family: "themify";
  font-style: normal;
  font-variant: normal;
  font-weight: normal;
  line-height: 1;
  text-transform: none;
  speak: none;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ti-ruler-pencil::before {
  content: "\e615";
}

.ti-mobile::before {
  content: "\e621";
}

.ti-comments::before {
  content: "\e643";
}

.ti-briefcase::before {
  content: "\e651";
}

.ti-location-pin::before {
  content: "\e693";
}

.ti-light-bulb::before {
  content: "\e695";
}

.ti-game::before {
  content: "\e6a1";
}

.ti-control-shuffle::before {
  content: "\e6ac";
}

.ti-cloud-up::before {
  content: "\e6b2";
}

.ti-linkedin::before {
  content: "\e735";
}

.ti-github::before {
  content: "\e73f";
}

.ti-email::before {
  content: "\e75a";
}
